.contact-section{
    background: url('https://cdn.pixabay.com/photo/2017/08/08/00/27/home-2609600_960_720.jpg') no-repeat center;
    background-size: cover;
    height: 770px;
    padding: 40px 0;
  }

  .contact-section h1{
    font-family: "Montserrar", sans-serif;
    font-size: 45px;
    text-align: center;
    color: #004F71;
  }

  .border{
    width: 100px;
    height: 10px;
    background: #004F71;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgba(17, 17, 17, 0.795);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }

  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #004F71;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #0088a9;
    margin: 0;
    padding: 0;
  }