header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004F71;
    padding: 30px 20%;
}

.navbar li, a{
    font-family: "Montserrar", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ededed; 
    text-decoration: none;
}

.logo{
    cursor: pointer;
    width: 150px;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #0088a9
}