@import url('https://fonts.googleapis.com/css2? familiaMontserrat:wght@500&display-swap');
@import "header.css";
@import "galery.css";
@import "contact.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Seccion1 */
.section1{
    background: url('https://cdn.pixabay.com/photo/2017/08/08/00/27/home-2609600_960_720.jpg');
    background-size: cover;
    padding: 40px 0;
    height: 700px;
}
.title{
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-family: "Montserrar", sans-serif;
    font-size: 70px;
    text-align: center;
}

.more{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more a{
    font-family: "Montserrar", sans-serif;
    font-size: 20px;
    text-align: center;
    float: right;
    border: 0;
    background: #004F71;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.more a:hover{
    background: #0088a9;
}

.social{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a{
    color: #004F71;
    font-size: 30px;
    padding: 20px;
    transition: 0.5s;
}

.social a:hover{
    color: #0088a9;
}

/* Saccion2 */ 
.section2{
    background-color:#004F71;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf1{
    margin-left: 15%;
    padding: 25px;
}
.inf1 h1{
    color: #ededed;
    font-family: "Montserrar", sans-serif;
    font-size: 40px;

}
.inf1 h2{
    color: #ededed;
    font-family: "Montserrar", sans-serif;
    text-align: justify;
    font-size: 25px;
}
.imginf1{
    margin-bottom: 65px;
    padding: 10px;
}
.imginf2{
    margin-top: 65px;
    padding: 10px;
    margin-right: 15%;
}
.imginf1 img{
    height: 500px;
    width: 300px;
}
.imginf2 img{
    height: 500px;
    width: 300px;
}

/* Seccion3 */
.section3{
    background-color: #0088a9;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}
.quest{
    margin-left: 15%;
    padding: 20px;
}
.quest h1, h2{
    font-family: "Montserrar", sans-serif;
    color: #ededed;
}
.more2{
    margin-left: 15%;
}
.more2 a{
    float: right;
    border: 0;
    background: #004F71;
    font-family: "Montserrar", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.more2 a:hover{
    background-color: #006e8a;
}

/* footer */ 
.footer{
    background-color: #002130;
}
.social-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-footer a{
    color: #cacaca;
    font-size: 30px;
    padding: 20px;
    transition: 0.5s;
}


